<!DOCTYPE html>
<html>
  <head></head>
  <body>
     <h1>ERROR</h1>
		 <h2>Invalid parameters.</h2>
		 <ol>
			<li>Your true symbol must only be one character.</li>
			<li>Your false symbol must only be one character.</li>
			<li>Please enter size greater than or equal to 2. </li>
			<li>Your true and false symbols cannot be the same.</li>
		 </ol>
		 <a href="/">Back to main page</a>
  </body>
</html>
